@charset "utf-8";
/* CSS Document */
#timetable{
	width: 100%;
	text-align:center;
}
#timetable th{
	background: #CCC;
}

#timetable .today{
	background-color: #FFC;
}

#timetable .today:hover{
}

#timetable .past_event{
	color:#CCC;
}

#timetable .past_event:hover{
	color:#000;
}

#timetable .future_event{
}